.summary.container {
  width: 90%;
  margin: $xs auto;

  @media (min-width: $xs-breakpoint) {
    width: 80%;
  }

  @media (min-width: $md-breakpoint) {
    width: 60%;
  }

  .success-icon-container {
    text-align: center;
  }

  .success-icon {
    font-size: $xl;
    color: $green;
  }

  h1 {
    text-align: center;
    font-size: $lg;
    margin: 0 auto $md;
    color: $green;
  }

  .stats-container {
    padding: $md $xxl;
    text-align: center;
    border-radius: $box-border-radius;
    background-color: lighten($off-black, 70%);

    @media (max-width: $md-breakpoint) {
      padding: $sm $md;
    }
  }

  h2 {
    font-size: $md;
    color: $blue;
  }

  h3 {
    font-size: $md;
    margin: 0;

    @media (max-width: $md-breakpoint) {
      // font-size: $sm;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $md;
    margin: $sm auto;

    & a {
      padding: $xxs $md;
      border-radius: $btn-border-radius;
      border: 1px solid $blue;
      transition: $transition;

      &:hover {
        box-shadow: $shadow;
        color: $white;
        background-color: $blue;
      }
    }

    & a:nth-child(2) {
      border: 1px solid $green;

      &:hover {
        background-color: $green;
      }
    }
  }
}
