// Fonts
$quicksand: "Quicksand", sans-serif;

// Colors
$orange: #ffa500;
$white: #ffffff;
$off-white: #f8f8f8;
$green: #57b846;
$red: #ea4355;
$blue: #1da1f2;

// Sizes
$xxs: 0.5rem;
$xs: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xl: 5rem;
$xxl: 7rem;

// Border-radius
$btn-border-radius: 30px;

// Transition
$transition: 0.3s linear all;
